################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Xamarin UI-Entwurf/UI-Entwurf/.vs/UI-Entwurf/v15
/MCAPP_UI/MCAPP_UI/.vs
/MCAPP_UI/MCAPP_UI/MCAPP_UI/bin
/MCAPP_UI/MCAPP_UI/MCAPP_UI/obj
/MCAPP_UI/MCAPP_UI/packages
/Xamarin UI-Entwurf
/MCAPP_UI/MCAPP_UI/bin
/MCAPP_UI/MCAPP_UI/obj
/MCAPP_UI/packages
/MCAPP_UI/.vs
/MCAPP_UI/MCAPP_Test/bin
/MCAPP_UI/MCAPP_Test/obj
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.UWP
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.WPF
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.Core/bin
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.Core/obj
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.Droid/bin
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.Droid/obj
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.iOS/bin
/MCAPP_UI/MCAPP_CROSS/MCAPP_CROSS.iOS/obj
/MCAPP_UI/MCAPP_Project/MCAPP_Project.iOS/bin
/MCAPP_UI/MCAPP_Project/MCAPP_Project.iOS/obj
/MCAPP_UI/MCAPP_Project/MCAPP_Project.Droid/bin
/MCAPP_UI/MCAPP_Project/MCAPP_Project.Droid/obj
/MCAPP_UI/MCAPP_Project/MCAPP_Project.Core/bin
/MCAPP_UI/MCAPP_Project/MCAPP_Project.Core/obj
/MCAPP_WEB/.mvn
