################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Xamarin UI-Entwurf/UI-Entwurf/.vs/UI-Entwurf/v15
