<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-antwort-heading" jhiTranslate="mcappWebApp.antwort.home.createOrEditLabel">Create or edit a Antwort</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!antwort.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="antwort.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.antwort.antwortID" for="field_antwortID">Antwort ID</label>
                    <input type="number" class="form-control" name="antwortID" id="field_antwortID"
                        [(ngModel)]="antwort.antwortID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.antwort.position" for="field_position">Position</label>
                    <input type="number" class="form-control" name="position" id="field_position"
                        [(ngModel)]="antwort.position" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.antwort.wahr" for="field_wahr">Wahr</label>
                    <input type="checkbox" class="form-control" name="wahr" id="field_wahr"
                        [(ngModel)]="antwort.wahr" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.antwort.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                        [(ngModel)]="antwort.text" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.antwort.bild" for="field_bild">Bild</label>
                    <div>
                        <img [src]="'data:' + antwort.bildContentType + ';base64,' + antwort.bild" style="max-height: 100px;" *ngIf="antwort.bild" alt="antwort image"/>
                        <div *ngIf="antwort.bild" class="form-text text-danger clearfix">
                            <span class="pull-left">{{antwort.bildContentType}}, {{byteSize(antwort.bild)}}</span>
                            <button type="button" (click)="clearInputImage('bild', 'bildContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_bild" (change)="setFileData($event, antwort, 'bild', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="bild" id="field_bild"
                        [(ngModel)]="antwort.bild" />
                    <input type="hidden" class="form-control" name="bildContentType" id="field_bildContentType"
                        [(ngModel)]="antwort.bildContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
