<div>
    <h2 id="page-heading">
        <span jhiTranslate="mcappWebApp.frage.home.title">Frages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-frage" [routerLink]="['/frage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mcappWebApp.frage.home.createLabel">
            Create new Frage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mcappWebApp.frage.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="frages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mcappWebApp.frage.frageText">Frage Text</span></th>
            <th><span jhiTranslate="mcappWebApp.frage.frageTyp">Frage Typ</span></th>
            <th><span jhiTranslate="mcappWebApp.frage.textAntwort">Text Antwort</span></th>
            <th><span jhiTranslate="mcappWebApp.frage.bildAntwort">Bild Antwort</span></th>
            <th><span jhiTranslate="mcappWebApp.frage.quizFrage">Quiz Frage</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let frage of frages ;trackBy: trackId">
                <td><a [routerLink]="['/frage', frage.id, 'view' ]">{{frage.id}}</a></td>
                <td>{{frage.frageText}}</td>
                <td jhiTranslate="{{'mcappWebApp.Fragetyp.' + frage.frageTyp}}">{{frage.frageTyp}}</td>
                <td>
                    <div *ngIf="frage.textAntwort">
                        <a [routerLink]="['../text-antwort', frage.textAntwort?.id, 'view' ]" >{{frage.textAntwort?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frage.bildAntwort">
                        <a [routerLink]="['../bild-antwort', frage.bildAntwort?.id, 'view' ]" >{{frage.bildAntwort?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frage.quizFrage">
                        <a [routerLink]="['../quiz-frage', frage.quizFrage?.id, 'view' ]" >{{frage.quizFrage?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/frage', frage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/frage', frage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'frage/'+ frage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
