<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-frage-heading" jhiTranslate="mcappWebApp.frage.home.createOrEditLabel">Create or edit a Frage</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!frage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="frage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.frageText" for="field_frageText">Frage Text</label>
                    <input type="text" class="form-control" name="frageText" id="field_frageText"
                        [(ngModel)]="frage.frageText" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.frageTyp" for="field_frageTyp">Frage Typ</label>
                    <select class="form-control" name="frageTyp" [(ngModel)]="frage.frageTyp" id="field_frageTyp" >
                        <option value="TEXT">{{'mcappWebApp.Fragetyp.TEXT' | translate}}</option>
                        <option value="BILD">{{'mcappWebApp.Fragetyp.BILD' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.thema" for="field_thema">Thema</label>
                    <select class="form-control" id="field_thema" name="thema" [(ngModel)]="frage.thema" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="themaOption.id === frage.thema?.id ? frage.thema : themaOption" *ngFor="let themaOption of themas; trackBy: trackThemaById">{{themaOption.themaText}}</option>
                    </select>
                </div>
            </div>

            <!-- DIV für Textantworten-->
            <div>
                <h2 id="page-heading">
                    <span jhiTranslate="mcappWebApp.textAntwort.home.title">Text Antworts</span>
                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-text-antwort" [routerLink]="['/text-antwort/new']" >
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span class="hidden-sm-down"  jhiTranslate="mcappWebApp.textAntwort.home.createLabel">Create new Text Antwort</span>
                    </button>
                </h2>
                <jhi-alert></jhi-alert>
                <br/>
                <div class="table-responsive" *ngIf="textAntworts">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span jhiTranslate="global.field.id">ID</span></th>
                            <th><span jhiTranslate="mcappWebApp.textAntwort.position">Position</span></th>
                            <th><span jhiTranslate="mcappWebApp.textAntwort.wahr">Wahr</span></th>
                            <th><span jhiTranslate="mcappWebApp.textAntwort.text">Text</span></th>
                            <th><span jhiTranslate="mcappWebApp.textAntwort.frage">Frage</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let textAntwort of textAntworts ;trackBy: trackId">
                            <td><a [routerLink]="['/text-antwort', textAntwort.id, 'view' ]">{{textAntwort.id}}</a></td>
                            <td>{{textAntwort.position}}</td>
                            <td>{{textAntwort.wahr}}</td>
                            <td>{{textAntwort.text}}</td>
                            <td>
                                <div *ngIf="textAntwort.frage">
                                    <a [routerLink]="['../frage', textAntwort.frage?.id, 'view' ]" >{{textAntwort.frage?.id}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/text-antwort', textAntwort.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/text-antwort', textAntwort.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'text-antwort/'+ textAntwort.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="global.field.id">ID</span></th>
                        <th><span jhiTranslate="mcappWebApp.textAntwort.position">Position</span></th>
                        <th><span jhiTranslate="mcappWebApp.textAntwort.wahr">Wahr</span></th>
                        <th><span jhiTranslate="mcappWebApp.textAntwort.text">Text</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let textAntwort of frage.textAntwortIDS ;trackBy: trackId">
                        <td><a [routerLink]="['/text-antwort', textAntwort.id, 'view' ]">{{textAntwort.id}}</a></td>
                        <td>{{textAntwort.position}}</td>
                        <td>{{textAntwort.wahr}}</td>
                        <td>{{textAntwort.text}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <!--<button type="submit"
                                        [routerLink]="['/text-antwort', textAntwort.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/text-antwort', textAntwort.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'text-antwort/'+ textAntwort.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <!-- Buttons für Frage -->
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
