<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="frage">
            <h2><span jhiTranslate="mcappWebApp.frage.detail.title">Frage</span> {{frage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mcappWebApp.frage.frageText">Frage Text</span></dt>
                <dd>
                    <span>{{frage.frageText}}</span>
                </dd>
                <dt><span jhiTranslate="mcappWebApp.frage.frageTyp">Frage Typ</span></dt>
                <dd>
                    <span jhiTranslate="{{'mcappWebApp.Fragetyp.' + frage.frageTyp}}">{{frage.frageTyp}}</span>
                </dd>
                <dt><span jhiTranslate="mcappWebApp.frage.thema">Thema</span></dt>
                <dd>
                    <div *ngIf="frage.thema">
                        <a [routerLink]="['/thema', frage.thema?.id, 'view']">{{frage.thema?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/frage', frage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
