<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-text-antwort-heading" jhiTranslate="mcappWebApp.textAntwort.home.createOrEditLabel">Create or edit a Text Antwort</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!textAntwort.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="textAntwort.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.textAntwort.position" for="field_position">Position</label>
                    <input type="number" class="form-control" name="position" id="field_position"
                        [(ngModel)]="textAntwort.position" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.textAntwort.wahr" for="field_wahr">Wahr</label>
                    <input type="checkbox" class="form-control" name="wahr" id="field_wahr"
                        [(ngModel)]="textAntwort.wahr" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.textAntwort.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                        [(ngModel)]="textAntwort.text" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.textAntwort.frage" for="field_frage">Frage</label>
                    <select class="form-control" id="field_frage" name="frage" [(ngModel)]="textAntwort.frage" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="frageOption.id === textAntwort.frage?.id ? textAntwort.frage : frageOption" *ngFor="let frageOption of frages; trackBy: trackFrageById">{{frageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
