<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quizFrage">
            <h2><span jhiTranslate="mcappWebApp.quizFrage.detail.title">Quiz Frage</span> {{quizFrage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mcappWebApp.quizFrage.richtig">Richtig</span></dt>
                <dd>
                    <span>{{quizFrage.richtig}}</span>
                </dd>
                <dt><span jhiTranslate="mcappWebApp.quizFrage.frage">Frage</span></dt>
                <dd>
                    <div *ngIf="quizFrage.frage">
                        <a [routerLink]="['/frage', quizFrage.frage?.id, 'view']">{{quizFrage.frage?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mcappWebApp.quizFrage.quiz">Quiz</span></dt>
                <dd>
                    <div *ngIf="quizFrage.quiz">
                        <a [routerLink]="['/quiz', quizFrage.quiz?.id, 'view']">{{quizFrage.quiz?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quiz-frage', quizFrage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
