<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quiz-frage-heading" jhiTranslate="mcappWebApp.quizFrage.home.createOrEditLabel">Create or edit a Quiz Frage</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quizFrage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quizFrage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.quizFrage.richtig" for="field_richtig">Richtig</label>
                    <input type="checkbox" class="form-control" name="richtig" id="field_richtig"
                        [(ngModel)]="quizFrage.richtig" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.quizFrage.frage" for="field_frage">Frage</label>
                    <select class="form-control" id="field_frage" name="frage" [(ngModel)]="quizFrage.frage" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="frageOption.id === quizFrage.frage?.id ? quizFrage.frage : frageOption" *ngFor="let frageOption of frages; trackBy: trackFrageById">{{frageOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.quizFrage.quiz" for="field_quiz">Quiz</label>
                    <select class="form-control" id="field_quiz" name="quiz" [(ngModel)]="quizFrage.quiz" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quizOption.id === quizFrage.quiz?.id ? quizFrage.quiz : quizOption" *ngFor="let quizOption of quizzes; trackBy: trackQuizById">{{quizOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
