<div>
    <h2 id="page-heading">
        <span jhiTranslate="mcappWebApp.quiz.home.title">Quizzes</span>
    </h2>
    <jhi-alert></jhi-alert>

    <br/>
    <div class="table-responsive" *ngIf="quizzes">


        <table class="table table-striped">

            <tbody>
            <tr *ngFor="let quiz of quizzes ;trackBy: trackId">
                <td><span jhiTranslate="mcappWebApp.quiz.nutzung">Aufruf in den letzten </span></td>
                <td>{{quiz.tage}}</td>
                <td><span jhiTranslate="mcappWebApp.quiz.tagen">Tagen</span></td>
                <td>{{quiz.nutzung}}</td>
                <td><span jhiTranslate="mcappWebApp.quiz.anzahl">mal.</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

