<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-frage-heading" jhiTranslate="mcappWebApp.frage.home.createOrEditLabel">Create or edit a Frage</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!frage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="frage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.frageID" for="field_frageID">Frage ID</label>
                    <input type="number" class="form-control" name="frageID" id="field_frageID"
                        [(ngModel)]="frage.frageID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.frageTyp" for="field_frageTyp">Frage Typ</label>
                    <select class="form-control" name="frageTyp" [(ngModel)]="frage.frageTyp" id="field_frageTyp" >
                        <option value="TEXT">{{'mcappWebApp.Fragetyp.TEXT' | translate}}</option>
                        <option value="BILD">{{'mcappWebApp.Fragetyp.BILD' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.themaID" for="field_themaID">Thema ID</label>
                    <input type="number" class="form-control" name="themaID" id="field_themaID"
                        [(ngModel)]="frage.themaID" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.antwort" for="field_antwort">Antwort</label>
                    <select class="form-control" id="field_antwort" name="antwort" [(ngModel)]="frage.antwort" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="antwortOption.id === frage.antwort?.id ? frage.antwort : antwortOption" *ngFor="let antwortOption of antworts; trackBy: trackAntwortById">{{antwortOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mcappWebApp.frage.quizFrage" for="field_quizFrage">Quiz Frage</label>
                    <select class="form-control" id="field_quizFrage" name="quizFrage" [(ngModel)]="frage.quizFrage" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quizFrageOption.id === frage.quizFrage?.id ? frage.quizFrage : quizFrageOption" *ngFor="let quizFrageOption of quizfrages; trackBy: trackQuizFrageById">{{quizFrageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
